<!DOCTYPE html>
<html>
<head>
  <title>Mc Force Op BETA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% flash.each do |key, value| %>
	<p style="color: #18D40B;"><%= value %></p>
<% end %>

</body>
</html>
